# API
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy>=2.0
asyncpg
alembic

# Configuration
pydantic>=2.0
pydantic-settings

# Vector Database
qdrant-client

# HTTP
httpx

# Authentication
PyJWT
pwdlib[argon2]

# Queue / Cache
redis
celery

# Utilities
python-dotenv
email-validator

sentence-transformers

PyMuPDF
python-docx

celery[redis]
redis

openai